@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");

#errors {
    text-decoration-color: red;
    color: red;
}

.forms {
    padding: 15px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    border: 2px solid black;
    border-radius: 15px;
}
